body {
    background-color: #E9D5DA;
}

hr {
   width: 3.5%;
   border-style: dotted none none;
   border-color: grey;
   border-width: 7px;
}

h1,h3,h4 {
    color: #66BFBF;

}
.img {
    border-radius: 100%;
}